{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "Provides operations for working with resources and resource groups.",
        "title": "ResourceManagementClient",
        "version": "2018-05-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Resources/stable/2018-05-01/resources.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "resources",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/providers/Microsoft.Resources/operations": {
            "get": {
                "description": "Lists all of the available Microsoft.Resources REST API operations.",
                "operationId": "Operations_List",
                "parameters": [
                    {
                        "description": "The API version to use for this operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Result of the request to list Microsoft.Resources operations. It contains a list of operations and a URL link to get the next set of results.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "URL to get the next set of operation list results if there are any.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "List of Microsoft.Resources operations.",
                                            "items": {
                                                "description": "Microsoft.Resources operation",
                                                "properties": {
                                                    "display": {
                                                        "description": "The object that represents the operation.",
                                                        "properties": {
                                                            "description": {
                                                                "description": "Description of the operation.",
                                                                "type": "string"
                                                            },
                                                            "operation": {
                                                                "description": "Operation type: Read, write, delete, etc.",
                                                                "type": "string"
                                                            },
                                                            "provider": {
                                                                "description": "Service provider: Microsoft.Resources",
                                                                "type": "string"
                                                            },
                                                            "resource": {
                                                                "description": "Resource on which the operation is performed: Profile, endpoint, etc.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "description": "Operation name: {provider}/{resource}/{operation}",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Operations"
                ],
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers": {
            "get": {
                "description": "Gets all resource providers for a subscription.",
                "operationId": "Providers_List",
                "parameters": [
                    {
                        "description": "The number of results to return. If null is passed returns all deployments.",
                        "in": "query",
                        "name": "$top",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "description": "The properties to include in the results. For example, use &$expand=metadata in the query string to retrieve resource provider metadata. To include property aliases in response, use $expand=resourceTypes/aliases.",
                        "in": "query",
                        "name": "$expand",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version to use for this operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Returns an array of resource providers.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of resource providers.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to use for getting the next set of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "An array of resource providers.",
                                            "items": {
                                                "description": "Resource provider information.",
                                                "properties": {
                                                    "id": {
                                                        "description": "The provider ID.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "namespace": {
                                                        "description": "The namespace of the resource provider.",
                                                        "type": "string"
                                                    },
                                                    "registrationState": {
                                                        "description": "The registration state of the provider.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "resourceTypes": {
                                                        "description": "The collection of provider resource types.",
                                                        "items": {
                                                            "description": "Resource type managed by the resource provider.",
                                                            "properties": {
                                                                "aliases": {
                                                                    "description": "The aliases that are supported by this resource type.",
                                                                    "items": {
                                                                        "description": "The alias type. ",
                                                                        "properties": {
                                                                            "name": {
                                                                                "description": "The alias name.",
                                                                                "type": "string"
                                                                            },
                                                                            "paths": {
                                                                                "description": "The paths for an alias.",
                                                                                "items": {
                                                                                    "description": "The type of the paths for alias. ",
                                                                                    "properties": {
                                                                                        "apiVersions": {
                                                                                            "description": "The API versions.",
                                                                                            "items": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "type": "array"
                                                                                        },
                                                                                        "path": {
                                                                                            "description": "The path of an alias.",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "type": "array"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "apiVersions": {
                                                                    "description": "The API version.",
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "locations": {
                                                                    "description": "The collection of locations where this resource type can be created.",
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "properties": {
                                                                    "additionalProperties": {
                                                                        "description": "The additional properties. ",
                                                                        "type": "string"
                                                                    },
                                                                    "description": "The properties.",
                                                                    "type": "object"
                                                                },
                                                                "resourceType": {
                                                                    "description": "The resource type.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "readOnly": true,
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Providers"
                ],
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/": {
            "get": {
                "description": "Get all the deployments for a subscription.",
                "operationId": "Deployments_ListAtSubscriptionScope",
                "parameters": [
                    {
                        "description": "The filter to apply on the operation. For example, you can use $filter=provisioningState eq '{state}'.",
                        "in": "query",
                        "name": "$filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The number of results to get. If null is passed, returns all deployments.",
                        "in": "query",
                        "name": "$top",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "description": "The API version to use for this operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Returns an array of deployments.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of deployments.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to use for getting the next set of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "An array of deployments.",
                                            "items": {
                                                "description": "Deployment information.",
                                                "properties": {
                                                    "id": {
                                                        "description": "The ID of the deployment.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "location": {
                                                        "description": "the location of the deployment.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The name of the deployment.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "Deployment properties.",
                                                        "properties": {
                                                            "correlationId": {
                                                                "description": "The correlation ID of the deployment.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "debugSetting": {
                                                                "description": "The debug setting of the deployment.",
                                                                "properties": {
                                                                    "detailLevel": {
                                                                        "description": "Specifies the type of information to log for debugging. The permitted values are none, requestContent, responseContent, or both requestContent and responseContent separated by a comma. The default is none. When setting this value, carefully consider the type of information you are passing in during deployment. By logging information about the request or response, you could potentially expose sensitive data that is retrieved through the deployment operations.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "dependencies": {
                                                                "description": "The list of deployment dependencies.",
                                                                "items": {
                                                                    "description": "Deployment dependency information.",
                                                                    "properties": {
                                                                        "dependsOn": {
                                                                            "description": "The list of dependencies.",
                                                                            "items": {
                                                                                "description": "Deployment dependency information.",
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "description": "The ID of the dependency.",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "resourceName": {
                                                                                        "description": "The dependency resource name.",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "resourceType": {
                                                                                        "description": "The dependency resource type.",
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "id": {
                                                                            "description": "The ID of the dependency.",
                                                                            "type": "string"
                                                                        },
                                                                        "resourceName": {
                                                                            "description": "The dependency resource name.",
                                                                            "type": "string"
                                                                        },
                                                                        "resourceType": {
                                                                            "description": "The dependency resource type.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "mode": {
                                                                "description": "The deployment mode. Possible values are Incremental and Complete.",
                                                                "enum": [
                                                                    "Incremental",
                                                                    "Complete"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": false,
                                                                    "name": "DeploymentMode"
                                                                }
                                                            },
                                                            "onErrorDeployment": {
                                                                "description": "The deployment on error behavior.",
                                                                "properties": {
                                                                    "deploymentName": {
                                                                        "description": "The deployment to be used on error case.",
                                                                        "type": "string"
                                                                    },
                                                                    "provisioningState": {
                                                                        "description": "The state of the provisioning for the on error deployment.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "The deployment on error behavior type. Possible values are LastSuccessful and SpecificDeployment.",
                                                                        "enum": [
                                                                            "LastSuccessful",
                                                                            "SpecificDeployment"
                                                                        ],
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": false,
                                                                            "name": "OnErrorDeploymentType"
                                                                        }
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "outputs": {
                                                                "description": "Key/value pairs that represent deployment output.",
                                                                "type": "object"
                                                            },
                                                            "parameters": {
                                                                "description": "Deployment parameters. Use only one of Parameters or ParametersLink.",
                                                                "type": "object"
                                                            },
                                                            "parametersLink": {
                                                                "description": "The URI referencing the parameters. Use only one of Parameters or ParametersLink.",
                                                                "properties": {
                                                                    "contentVersion": {
                                                                        "description": "If included, must match the ContentVersion in the template.",
                                                                        "type": "string"
                                                                    },
                                                                    "uri": {
                                                                        "description": "The URI of the parameters file.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "uri"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "providers": {
                                                                "description": "The list of resource providers needed for the deployment.",
                                                                "items": {
                                                                    "description": "Resource provider information.",
                                                                    "properties": {
                                                                        "id": {
                                                                            "description": "The provider ID.",
                                                                            "readOnly": true,
                                                                            "type": "string"
                                                                        },
                                                                        "namespace": {
                                                                            "description": "The namespace of the resource provider.",
                                                                            "type": "string"
                                                                        },
                                                                        "registrationState": {
                                                                            "description": "The registration state of the provider.",
                                                                            "readOnly": true,
                                                                            "type": "string"
                                                                        },
                                                                        "resourceTypes": {
                                                                            "description": "The collection of provider resource types.",
                                                                            "items": {
                                                                                "description": "Resource type managed by the resource provider.",
                                                                                "properties": {
                                                                                    "aliases": {
                                                                                        "description": "The aliases that are supported by this resource type.",
                                                                                        "items": {
                                                                                            "description": "The alias type. ",
                                                                                            "properties": {
                                                                                                "name": {
                                                                                                    "description": "The alias name.",
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "paths": {
                                                                                                    "description": "The paths for an alias.",
                                                                                                    "items": {
                                                                                                        "description": "The type of the paths for alias. ",
                                                                                                        "properties": {
                                                                                                            "apiVersions": {
                                                                                                                "description": "The API versions.",
                                                                                                                "items": {
                                                                                                                    "type": "string"
                                                                                                                },
                                                                                                                "type": "array"
                                                                                                            },
                                                                                                            "path": {
                                                                                                                "description": "The path of an alias.",
                                                                                                                "type": "string"
                                                                                                            }
                                                                                                        },
                                                                                                        "type": "object"
                                                                                                    },
                                                                                                    "type": "array"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "type": "array"
                                                                                    },
                                                                                    "apiVersions": {
                                                                                        "description": "The API version.",
                                                                                        "items": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "type": "array"
                                                                                    },
                                                                                    "locations": {
                                                                                        "description": "The collection of locations where this resource type can be created.",
                                                                                        "items": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "type": "array"
                                                                                    },
                                                                                    "properties": {
                                                                                        "additionalProperties": {
                                                                                            "description": "The additional properties. ",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "description": "The properties.",
                                                                                        "type": "object"
                                                                                    },
                                                                                    "resourceType": {
                                                                                        "description": "The resource type.",
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "readOnly": true,
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "provisioningState": {
                                                                "description": "The state of the provisioning.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "template": {
                                                                "description": "The template content. Use only one of Template or TemplateLink.",
                                                                "type": "object"
                                                            },
                                                            "templateLink": {
                                                                "description": "The URI referencing the template. Use only one of Template or TemplateLink.",
                                                                "properties": {
                                                                    "contentVersion": {
                                                                        "description": "If included, must match the ContentVersion in the template.",
                                                                        "type": "string"
                                                                    },
                                                                    "uri": {
                                                                        "description": "The URI of the template to deploy.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "uri"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "timestamp": {
                                                                "description": "The timestamp of the template deployment.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "type": {
                                                        "description": "The type of the deployment.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    }
                                                },
                                                "x-ms-azure-resource": true,
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Deployments"
                ],
                "x-ms-odata": "#/components/schemas/DeploymentExtendedFilter",
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}": {
            "delete": {
                "description": "A template deployment that is currently running cannot be deleted. Deleting a template deployment removes the associated deployment operations. This is an asynchronous operation that returns a status of 202 until the template deployment is successfully deleted. The Location response header contains the URI that is used to obtain the status of the process. While the process is running, a call to the URI in the Location header returns a status of 202. When the process finishes, the URI in the Location header returns a status of 204 on success. If the asynchronous request failed, the URI in the Location header returns an error-level status code.",
                "operationId": "Deployments_DeleteAtSubscriptionScope",
                "parameters": [
                    {
                        "description": "The name of the deployment to delete.",
                        "in": "path",
                        "name": "deploymentName",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64,
                            "pattern": "^[-\\w\\._\\(\\)]+$"
                        }
                    },
                    {
                        "description": "The API version to use for this operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted - Returns this status until the asynchronous operation has completed."
                    },
                    "204": {
                        "description": "No Content"
                    }
                },
                "summary": "Deletes a deployment from the deployment history.",
                "tags": [
                    "Deployments"
                ],
                "x-ms-long-running-operation": true
            },
            "get": {
                "description": "Gets a deployment.",
                "operationId": "Deployments_GetAtSubscriptionScope",
                "parameters": [
                    {
                        "description": "The name of the deployment to get.",
                        "in": "path",
                        "name": "deploymentName",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64,
                            "pattern": "^[-\\w\\._\\(\\)]+$"
                        }
                    },
                    {
                        "description": "The API version to use for this operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Returns information about the deployment, including provisioning status.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Deployment information.",
                                    "properties": {
                                        "id": {
                                            "description": "The ID of the deployment.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "location": {
                                            "description": "the location of the deployment.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the deployment.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Deployment properties.",
                                            "properties": {
                                                "correlationId": {
                                                    "description": "The correlation ID of the deployment.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "debugSetting": {
                                                    "description": "The debug setting of the deployment.",
                                                    "properties": {
                                                        "detailLevel": {
                                                            "description": "Specifies the type of information to log for debugging. The permitted values are none, requestContent, responseContent, or both requestContent and responseContent separated by a comma. The default is none. When setting this value, carefully consider the type of information you are passing in during deployment. By logging information about the request or response, you could potentially expose sensitive data that is retrieved through the deployment operations.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "dependencies": {
                                                    "description": "The list of deployment dependencies.",
                                                    "items": {
                                                        "description": "Deployment dependency information.",
                                                        "properties": {
                                                            "dependsOn": {
                                                                "description": "The list of dependencies.",
                                                                "items": {
                                                                    "description": "Deployment dependency information.",
                                                                    "properties": {
                                                                        "id": {
                                                                            "description": "The ID of the dependency.",
                                                                            "type": "string"
                                                                        },
                                                                        "resourceName": {
                                                                            "description": "The dependency resource name.",
                                                                            "type": "string"
                                                                        },
                                                                        "resourceType": {
                                                                            "description": "The dependency resource type.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "id": {
                                                                "description": "The ID of the dependency.",
                                                                "type": "string"
                                                            },
                                                            "resourceName": {
                                                                "description": "The dependency resource name.",
                                                                "type": "string"
                                                            },
                                                            "resourceType": {
                                                                "description": "The dependency resource type.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "mode": {
                                                    "description": "The deployment mode. Possible values are Incremental and Complete.",
                                                    "enum": [
                                                        "Incremental",
                                                        "Complete"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": false,
                                                        "name": "DeploymentMode"
                                                    }
                                                },
                                                "onErrorDeployment": {
                                                    "description": "The deployment on error behavior.",
                                                    "properties": {
                                                        "deploymentName": {
                                                            "description": "The deployment to be used on error case.",
                                                            "type": "string"
                                                        },
                                                        "provisioningState": {
                                                            "description": "The state of the provisioning for the on error deployment.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "The deployment on error behavior type. Possible values are LastSuccessful and SpecificDeployment.",
                                                            "enum": [
                                                                "LastSuccessful",
                                                                "SpecificDeployment"
                                                            ],
                                                            "type": "string",
                                                            "x-ms-enum": {
                                                                "modelAsString": false,
                                                                "name": "OnErrorDeploymentType"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "outputs": {
                                                    "description": "Key/value pairs that represent deployment output.",
                                                    "type": "object"
                                                },
                                                "parameters": {
                                                    "description": "Deployment parameters. Use only one of Parameters or ParametersLink.",
                                                    "type": "object"
                                                },
                                                "parametersLink": {
                                                    "description": "The URI referencing the parameters. Use only one of Parameters or ParametersLink.",
                                                    "properties": {
                                                        "contentVersion": {
                                                            "description": "If included, must match the ContentVersion in the template.",
                                                            "type": "string"
                                                        },
                                                        "uri": {
                                                            "description": "The URI of the parameters file.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "uri"
                                                    ],
                                                    "type": "object"
                                                },
                                                "providers": {
                                                    "description": "The list of resource providers needed for the deployment.",
                                                    "items": {
                                                        "description": "Resource provider information.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "The provider ID.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "namespace": {
                                                                "description": "The namespace of the resource provider.",
                                                                "type": "string"
                                                            },
                                                            "registrationState": {
                                                                "description": "The registration state of the provider.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "resourceTypes": {
                                                                "description": "The collection of provider resource types.",
                                                                "items": {
                                                                    "description": "Resource type managed by the resource provider.",
                                                                    "properties": {
                                                                        "aliases": {
                                                                            "description": "The aliases that are supported by this resource type.",
                                                                            "items": {
                                                                                "description": "The alias type. ",
                                                                                "properties": {
                                                                                    "name": {
                                                                                        "description": "The alias name.",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "paths": {
                                                                                        "description": "The paths for an alias.",
                                                                                        "items": {
                                                                                            "description": "The type of the paths for alias. ",
                                                                                            "properties": {
                                                                                                "apiVersions": {
                                                                                                    "description": "The API versions.",
                                                                                                    "items": {
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "type": "array"
                                                                                                },
                                                                                                "path": {
                                                                                                    "description": "The path of an alias.",
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "type": "array"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "apiVersions": {
                                                                            "description": "The API version.",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "locations": {
                                                                            "description": "The collection of locations where this resource type can be created.",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "properties": {
                                                                            "additionalProperties": {
                                                                                "description": "The additional properties. ",
                                                                                "type": "string"
                                                                            },
                                                                            "description": "The properties.",
                                                                            "type": "object"
                                                                        },
                                                                        "resourceType": {
                                                                            "description": "The resource type.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "readOnly": true,
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "provisioningState": {
                                                    "description": "The state of the provisioning.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "template": {
                                                    "description": "The template content. Use only one of Template or TemplateLink.",
                                                    "type": "object"
                                                },
                                                "templateLink": {
                                                    "description": "The URI referencing the template. Use only one of Template or TemplateLink.",
                                                    "properties": {
                                                        "contentVersion": {
                                                            "description": "If included, must match the ContentVersion in the template.",
                                                            "type": "string"
                                                        },
                                                        "uri": {
                                                            "description": "The URI of the template to deploy.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "uri"
                                                    ],
                                                    "type": "object"
                                                },
                                                "timestamp": {
                                                    "description": "The timestamp of the template deployment.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "type": {
                                            "description": "The type of the deployment.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Deployments"
                ]
            },
            "head": {
                "description": "Checks whether the deployment exists.",
                "operationId": "Deployments_CheckExistenceAtSubscriptionScope",
                "parameters": [
                    {
                        "description": "The name of the deployment to check.",
                        "in": "path",
                        "name": "deploymentName",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64,
                            "pattern": "^[-\\w\\._\\(\\)]+$"
                        }
                    },
                    {
                        "description": "The API version to use for this operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "tags": [
                    "Deployments"
                ]
            },
            "put": {
                "description": "You can provide the template and parameters directly in the request or link to JSON files.",
                "operationId": "Deployments_CreateOrUpdateAtSubscriptionScope",
                "parameters": [
                    {
                        "description": "The name of the deployment.",
                        "in": "path",
                        "name": "deploymentName",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64,
                            "pattern": "^[-\\w\\._\\(\\)]+$"
                        }
                    },
                    {
                        "description": "The API version to use for this operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Returns information about the deployment, including provisioning status.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Deployment information.",
                                    "properties": {
                                        "id": {
                                            "description": "The ID of the deployment.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "location": {
                                            "description": "the location of the deployment.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the deployment.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Deployment properties.",
                                            "properties": {
                                                "correlationId": {
                                                    "description": "The correlation ID of the deployment.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "debugSetting": {
                                                    "description": "The debug setting of the deployment.",
                                                    "properties": {
                                                        "detailLevel": {
                                                            "description": "Specifies the type of information to log for debugging. The permitted values are none, requestContent, responseContent, or both requestContent and responseContent separated by a comma. The default is none. When setting this value, carefully consider the type of information you are passing in during deployment. By logging information about the request or response, you could potentially expose sensitive data that is retrieved through the deployment operations.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "dependencies": {
                                                    "description": "The list of deployment dependencies.",
                                                    "items": {
                                                        "description": "Deployment dependency information.",
                                                        "properties": {
                                                            "dependsOn": {
                                                                "description": "The list of dependencies.",
                                                                "items": {
                                                                    "description": "Deployment dependency information.",
                                                                    "properties": {
                                                                        "id": {
                                                                            "description": "The ID of the dependency.",
                                                                            "type": "string"
                                                                        },
                                                                        "resourceName": {
                                                                            "description": "The dependency resource name.",
                                                                            "type": "string"
                                                                        },
                                                                        "resourceType": {
                                                                            "description": "The dependency resource type.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "id": {
                                                                "description": "The ID of the dependency.",
                                                                "type": "string"
                                                            },
                                                            "resourceName": {
                                                                "description": "The dependency resource name.",
                                                                "type": "string"
                                                            },
                                                            "resourceType": {
                                                                "description": "The dependency resource type.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "mode": {
                                                    "description": "The deployment mode. Possible values are Incremental and Complete.",
                                                    "enum": [
                                                        "Incremental",
                                                        "Complete"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": false,
                                                        "name": "DeploymentMode"
                                                    }
                                                },
                                                "onErrorDeployment": {
                                                    "description": "The deployment on error behavior.",
                                                    "properties": {
                                                        "deploymentName": {
                                                            "description": "The deployment to be used on error case.",
                                                            "type": "string"
                                                        },
                                                        "provisioningState": {
                                                            "description": "The state of the provisioning for the on error deployment.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "The deployment on error behavior type. Possible values are LastSuccessful and SpecificDeployment.",
                                                            "enum": [
                                                                "LastSuccessful",
                                                                "SpecificDeployment"
                                                            ],
                                                            "type": "string",
                                                            "x-ms-enum": {
                                                                "modelAsString": false,
                                                                "name": "OnErrorDeploymentType"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "outputs": {
                                                    "description": "Key/value pairs that represent deployment output.",
                                                    "type": "object"
                                                },
                                                "parameters": {
                                                    "description": "Deployment parameters. Use only one of Parameters or ParametersLink.",
                                                    "type": "object"
                                                },
                                                "parametersLink": {
                                                    "description": "The URI referencing the parameters. Use only one of Parameters or ParametersLink.",
                                                    "properties": {
                                                        "contentVersion": {
                                                            "description": "If included, must match the ContentVersion in the template.",
                                                            "type": "string"
                                                        },
                                                        "uri": {
                                                            "description": "The URI of the parameters file.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "uri"
                                                    ],
                                                    "type": "object"
                                                },
                                                "providers": {
                                                    "description": "The list of resource providers needed for the deployment.",
                                                    "items": {
                                                        "description": "Resource provider information.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "The provider ID.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "namespace": {
                                                                "description": "The namespace of the resource provider.",
                                                                "type": "string"
                                                            },
                                                            "registrationState": {
                                                                "description": "The registration state of the provider.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "resourceTypes": {
                                                                "description": "The collection of provider resource types.",
                                                                "items": {
                                                                    "description": "Resource type managed by the resource provider.",
                                                                    "properties": {
                                                                        "aliases": {
                                                                            "description": "The aliases that are supported by this resource type.",
                                                                            "items": {
                                                                                "description": "The alias type. ",
                                                                                "properties": {
                                                                                    "name": {
                                                                                        "description": "The alias name.",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "paths": {
                                                                                        "description": "The paths for an alias.",
                                                                                        "items": {
                                                                                            "description": "The type of the paths for alias. ",
                                                                                            "properties": {
                                                                                                "apiVersions": {
                                                                                                    "description": "The API versions.",
                                                                                                    "items": {
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "type": "array"
                                                                                                },
                                                                                                "path": {
                                                                                                    "description": "The path of an alias.",
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "type": "array"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "apiVersions": {
                                                                            "description": "The API version.",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "locations": {
                                                                            "description": "The collection of locations where this resource type can be created.",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "properties": {
                                                                            "additionalProperties": {
                                                                                "description": "The additional properties. ",
                                                                                "type": "string"
                                                                            },
                                                                            "description": "The properties.",
                                                                            "type": "object"
                                                                        },
                                                                        "resourceType": {
                                                                            "description": "The resource type.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "readOnly": true,
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "provisioningState": {
                                                    "description": "The state of the provisioning.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "template": {
                                                    "description": "The template content. Use only one of Template or TemplateLink.",
                                                    "type": "object"
                                                },
                                                "templateLink": {
[...]
